*{
     padding: 0px;
     margin: 0px;
   
     

}
h1{

     font-family: 'Agbalumo', system-ui;
font-family: 'Bungee Spice', sans-serif;
font-family: 'Kalnia', serif;
font-family: 'Rubik Maps', system-ui;
font-family: 'Rubik Scribble', system-ui;
font-family: 'Ysabeau SC', sans-serif;
     color: white;
}
.navbar-brand h2{
     font-family: 'Kalnia', serif;
font-family: 'Rubik Maps', system-ui;
}
.carousel-caption p{
     color: white;
}
.carousel-caption h5{
     color: white;
}

.carousel-item{
     width: 100%;
     height: 450px;

}
.card-body img{
     min-width: 50%;
     max-width: 200px;
}
